extends ../layout.pug 

block content
  if errMessage
    span=errMessage
  form(method="POST" action="/join")
    input(type="text" name="username" placeholder="Username" require)
    input(type="text" name="email" placeholder="Email" require)
    input(type="text" name="name" placeholder="Id" require)
    input(type="password" name="password1" placeholder="Password" require)
    input(type="password" name="password2" placeholder="Confirm Password" require)
    input(type="text" name="location" placeholder="Location")
    input(type="submit" value="Join")