$utilities: (
  'font-family': (
    property: 'font-family',
    class: ff,
    values: (
      orbitron: 'Orbitron',
    ),
  ),
  'font-weight': (
    property: 'font-weight',
    class: fw,
    values: (
      normal: 400,
      bold: 700,
    ),
  ),
  'display': (
    property: 'display',
    class: 'd',
    values: (
      b: block,
      ib: inline-block,
      flx: flex,
    ),
  ),
);
