$black: #000000 !default;
$white: #ffffff !default;

$gray-01: #f7f7f8 !default;
$gray-02: #ebeef0 !default;
$gray-03: #dde1e4 !default;
$gray-04: #c6cbd0 !default;
$gray-05: #aab0b8 !default;
$gray-06: #8c949e !default;
$gray-07: #272b2f !default;
$gray-08: #2a2e32 !default;
$gray-09: #212529 !default;

$yellow-01: #ffbc2c !default;
$yellow-02: #ffd986 !default;

$red: #f94c48 !default;
$blue: #079ff7 !default;
