$black: #000000 !default;
$white: #ffffff !default;

$gray-01: #f7f7f8 !default;
$gray-02: #ebeef0 !default;
$gray-03: #dde1e4 !default;
$gray-04: #c6cbd0 !default;
$gray-05: #aab0b8 !default;
$gray-06: #8c949e !default;
$gray-07: #696e76 !default;
$gray-08: #484b51 !default;
$gray-09: #26282c !default;

$yellow-01: #ffd338 !default;
$yellow-02: #ffcc00 !default;
$yellow-03: #ffbc00 !default;

$red: #f23f3f !default;
$blue: #287eff !default;
