@import './config/_fonts.scss';
@import './config/_reset.scss';
@import './config/_variable.scss';
@import './config/_utility_generator.scss';
@import './config/_icons.scss';

/* components */
@import './components/_header.scss';
@import './components/_footer.scss';

/* screens */
@import './screens/_videoWatch.scss';

/* defaults */
body {
  background: $white;
  font-weight: 400;
  font-size: 16px;
  font-family: 'Noto Sans KR', 'Noto Sans', -apple-system, 'Malgun Gothic', '맑은 고딕', helvetica,
    sans-serif;
  line-height: 1.4;
  color: $black;
}

#container {
  margin: 0 auto;
}

.sr-only {
  position: absolute;
  overflow: hidden;
  clear: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 1px;
  color: transparent;
}
