#header {
  position: sticky;
  $header: 'header';
  width: 100%;
  height: 48px;
  padding: 0 24px;
  background: $white;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;

  .#{$header} {
    &_content {
      display: flex;
      height: 100%;
      margin: 0 auto;
      justify-content: space-between;
      align-items: center;
    }

    &_logo {
      font-size: 16px;

      &_link {
        display: flex;
        justify-content: flex-start;
        align-items: center;

        .icon_logo {
          margin-right: 4px;
        }
      }
    }

    &_nav {
      height: 100%;

      .nav {
        display: flex;
        height: 100%;
        justify-content: flex-start;
        align-items: center;

        &_list {
          height: 100%;
        }

        &_link {
          display: flex;
          height: 100%;
          padding: 0 12px;
          justify-content: center;
          align-items: center;
        }
      }
    }
  }
}
