doctype html
html(lang="ko")
  head
    title #{pageTitle} | #{siteName}
    link(rel="stylesheet" href="/assets/css/styles.css")
  body
    include ./partials/header
    div#container.container
      block content
    include partials/footer.pug
    block script
