extends ../layout.pug 

block content
  if errorMessage
    span=errorMessage
  form(method="POST" action="/user/editpassword")
    input(type="password" name="oldPassword" placeholder="Old Password" require)
    input(type="password" name="newPassword" placeholder="New Password" require)
    input(type="password" name="newPassword2" placeholder="Confirm New Password" require)
    input(type="submit" value="Update Password")