extends ../layout.pug 

block content
  form(method="POST" action="/user/editpassword")
    input(type="text" name="username" placeholder="Username" require)
    input(type="submit" value="Update Profile")