extends ../layout.pug 

block content
  form(method="POST" action="/user/editpassword")
    input(type="password" name="password" placeholder="Password" require)
    input(type="password" name="password2" placeholder="Confirm Password" require)
    input(type="submit" value="Update Password")